*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
}
html{
    scroll-behavior: smooth;
}
body{
    color: #fff;
    background-color:#080808; 
}
.about-col-2 p {
    margin: 15px 0;
    line-height: 1.6;
}

.about-col-2 ul {
    margin: 15px 0;
    padding-left: 20px;
}

.about-col-2 ul li {
    margin-bottom: 10px;
}

.about-col-2 strong {
    color: #47fa9e;
}

.container{
    padding: 10px;
}
.header-text{
    color:#fefefe;

}

.card-cont span{
    color:#00853e;
}

.tab-contents u,span{
    color:#00853e;
}

.skills-list span, #experience span{
    color:#fff;
}

.tab-contents strong{
    color: #ffd700;
}

nav{
    display:flex;
    justify-content: flex-start;
    padding: 10px;
}


.logo {
    width: 40%;
    height: auto;
    font-size:1.5rem;
}
.logo strong{
    color:#00853e;
}
nav ul li{
    display: inline-block;
    list-style: none;
    margin: 10px 20px;
}

nav ul li strong{
    color:#00853e;
}

nav ul li a{
    color: #fff;
    text-decoration: none;
    font-size: 1.25rem;
    position: relative;
}

nav ul li a::after{
    content: '';
    width: 0;
    height: 3px;
    background: #00853e;
    position: absolute;
    left:0;
    bottom: -6px;
    transition: 0.5s;
}

nav ul li a:hover::after{
    width:100%;
    background-color:#00853e;
}

nav ul li a:hover{
    transform: translateY(-5px);
}



.header-text{
    margin-top: 10%;
    margin-bottom: 5%;
    font-size: 30px;
}

.header-text p strong{
    color:#00853e;
}

.header-text h1{
    font-size: 3.75rem;
    margin-top: 20px;
}
.header-text h1 span{
    color: #00853e;
}

#about {
    padding: 2rem 1rem;
    margin-bottom: 45px;;
    background-color: #080808; /* Light background color for contrast */
}

.about-card {
    width: 90vw; /* Width of the card is 90% of the viewport width */
    max-width: 1200px; /* Optional: Set a max-width for larger screens */
    margin: 0 auto;
    background: #1e1e1e;
    color: #fff;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    padding: 20px;
    margin-top: 20px;;
    position: relative;
    left: -100vw;
    opacity: 0;
    transition: opacity 0.9s ease, left 0.9s ease;
}

.about-card.visible {
    left: 5vw;
    opacity: 1;
}

.about-card .about-header {
    background: #fff;
    color: #fff;
    padding: 20px;
    text-align: center;
    border-radius: 8px 8px 0 0; /* Rounded corners on the top */
    font-size: 2rem; /* Larger font size for the title */
    margin: 0; /* Remove default margin */
}

.about-card .about-content {
    padding: 20px;
    margin-bottom: 25px;
}

.about-card .about-content p {
    margin: 0 0 15px 0; /* Margin below paragraphs for spacing */
    line-height: 1.6; /* Improved line-height for readability */
    font-size: 1rem; /* Base font size */
}

.about-card .about-content ul {
    padding-left: 20px; /* Padding for list items */
}

.about-card .about-content ul li {
    margin: 0 0 10px 0; /* Margin below list items */
    font-size: 1rem; /* Base font size for list items */
}

.about-card .about-content strong {
    color: #ffd700; /* Highlight strong text for emphasis */
}

@media (max-width: 768px) {
    .header-text{
        margin-top: 4%;
        margin-bottom: 4%;
        font-size: 15px;
    }
    .about-card {
        width: 95vw; /* Adjust width for smaller screens */
    }

    .about-card .about-header {
        font-size: 1.5rem; /* Smaller font size for the header on mobile */
    }

    .about-card .about-content p, .about-card .about-content ul li {
        font-size: 0.9rem; /* Smaller font size for text on mobile */
    }

    #experiences{
        margin: 10px;
    }

    #portfolio{
        margin:10px;
    }
}

.row{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.about-col-2{
    width: 100%;
    box-sizing: border-box;
    padding: 20px;
    border-radius: 15px;
}

.tab-titles {
    display: flex;
    margin-top: 25px;
    justify-content: space-around; /* Distribute tabs evenly */
    margin: 20px 0 40px; /* Space around the tabs */
    width: 100%; /* Ensure the container takes full width */
}

.tab-links {
    flex: 1; /* Each tab takes up equal space */
    font-size: 18px; /* Adjust font size as needed */
    font-weight: 600; /* Bold font weight for titles */
    cursor: pointer; /* Pointer cursor on hover */
    text-align: center; /* Center the text */
    padding: 15px 20px; /* Padding for spacing */
    border-radius: 20px; /* Rounded corners */
    background: #080808; /* Background color for inactive tabs */
    color: #fff; /* Text color for inactive tabs */
    border: none; /* Remove borders */
    transition: background 0.3s, color 0.3s, box-shadow 0.3s; /* Smooth transitions */
    margin: 0 10px; /* Horizontal spacing between tabs */
    position: relative; /* For the pseudo-element */
    text-transform: uppercase; /* Capitalize text for better emphasis */
}

.tab-links:hover {
    background: #fff; /* Slightly lighter background on hover */
    color: #00853e; /* Text color on hover */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Shadow on hover */
}

.tab-links.active-link {
    background: #fff; /* Background color for active tab */
    color: #00853e; /* Text color for active tab */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3); /* Shadow for active tab */
}

.tab-links::after {
    content: '';
    width: 0;
    height: 3px;
    background: #00853e;
    position: absolute;
    left: 50%;
    bottom: -10px; /* Position the underline */
    transform: translateX(-50%); /* Center the underline */
    transition: width 0.3s;
}

.tab-links.active-link::after {
    width: 100%;
}

.tab-contents {
    display: none;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Shadow for content */
}

.tab-contents.active-tab {
    display: block;
}

.skills-list {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr)); /* Creates responsive columns */
    gap: 20px; /* Space between grid items */
    list-style: none; /* Removes default list styling */
    padding: 0;
    margin: 0;
}

.skills-list li {
    display:flex;
    background: #262626;
    padding: 20px;
    border-radius: 12px;
    color: #fff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Optional: adds shadow for better visibility */
    text-align: center;
    transition: background 0.5s;
    justify-content: center; /* Center children vertically */
    align-items: center;
}

.skills-list li:hover{
    background-color: #00853e;
}

#experiences{
    padding: 30px 0;
    margin: 20px;
}

.experience-list {
   display: flex; /* Use flexbox layout */
   flex-wrap: wrap; /* Allow cards to wrap to the next line if necessary */
   justify-content: space-between;
   gap: 5px;
   margin-top: 15px;;
}
  
.card-cont {
    position: relative; /* Ensure card-cont is positioned correctly within the grid */
    width: 100%; /* Take up full width of grid cell */
    height: 100%; /* Take up full height of grid cell */
    perspective: 1000px;
    margin: 15px;
}
.card-cont {
    position: relative;
    width: 30%;
    height: 500px;
    overflow: hidden;
    perspective: 1000px;
  }
  
  .card {
    position: absolute; /* Position the card within the container */
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transform-style: preserve-3d; /* Enable 3D transformations */
    transition: transform 0.5s ease-in-out;
  }
  
  .card_front,
  .card_back {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding: 12px;
    backface-visibility: hidden;
    border-radius: 15px;
  }
  
  .card_front {
    transform: rotateY(0deg); /* Initial rotation for the front */
  }
  
  .card_back {
    transform: rotateY(180deg); /* Initial rotation for the back */
  }
  
  .card:hover {
    transform: rotateY(180deg);
  }  
  .card_front {
    background-color: #262626; /* Replace with your desired front color */
    color: #fff; /* Or any other color that contrasts well with the background */
  }
  
  .card_back {
    background-color: #262626; /* Replace with your desired back color */
    color: #fff; /* Or any other color that contrasts well with the background */
  }
  
  /* Additional styling for the card content */
  .card h2 {
    font-size: 24px;
    margin-bottom: 10px;
    color:#00853e;
  }
  
  .card p {
    font-size: 16px;
    line-height: 1.5;
  }

  .card ul{
    list-style-type: disc;
    list-style-position: inside;
    padding: 0;
    color:#fff;
  }
  
  .card ul li{
    padding: 20px;
  }
  .card_front i{
    font-size: 60px;
    margin-bottom: 30px;
    margin-top: 20px;
    padding: 10px;
  }

#portfolio{
    padding: 30px 0;
}

.project-list{
    display:grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-gap: 40px;
    margin-top: 50px;
    color: #080808;
}
.project-list div{
    margin: 15px;
    background: #262626;
    color:#fff;
    padding: 40px;
    font-size: 13px;
    font-weight: 300;
    border-radius: 10px;
    transition: background 0.5s, transform 0.5s;
}

.project-list div i{
    font-size: 50px;
    margin-bottom: 30px;
}

.project-list div h2{
    font-size: 30px;
    font-weight: 500;
    margin-bottom: 15px;
}

.project-list div:hover{
    background: #00853e;
    transform: translateY(-20px);
}
.contact-left{
    flex-basis: 35%;
}

.contact-right{
    flex-basis: 60%;
}

.contact-left p{
    margin-top: 30px;
}

.contact-left p i{
    color: #00853e;
    margin-right: 15px;
    font-size:25px;
}

.social-icons{
    margin-top: 30px;
}
.social-icons a{
    text-decoration: none;
    font-size: 20px;
    margin-right:15px;
    color: #fff;
    display: inline-block;
    transition: transform 0.5s;
}
.social-icons a:hover{
    color:#00853e;
    transform:translateY(-5px);
}

.btn, .btn2{
    display: block;
    margin: 50px auto;
    width:fit-content;
    border: 1px solid #00853e;
    padding: 14px 50px;
    border-radius: 6px;
    text-decoration: none;
    color: #fff;
    background-color: #080808;
    transition: background 0.5s;
}

.btn:hover{
    background:#00853e;
    
}

.btn.btn2{
    display: inline-block;
}

.contact-right form{
    width: 100%;
}

form input, form textarea{
    width:100%;
    border: 0;
    outline: none;
    background: #262626;
    padding: 15px;
    margin: 15px 0;
    color:#fff;
    font-size: 18px;
    border-radius: 6px;
}


form .btn2{
    padding: 14px 60px;
    font-size: 18px;
    margin-top: 20px;
    cursor: pointer;
}

.copyright{
    width:100%;
    text-align: center;
    padding: 25px 0;
    background: #262626;
    
}

nav .fas{
    display: none;
}
.sub-title{
    color:#00853e;
}

@media only screen and (max-width: 600px){
   #header{
     height: 40vh;
   }
   .header-text{
    margin-top:100%;
    font-size:16px;
   }
   .header-text h1{
    font-size: 30px;
   }
   nav .fas{
    display:block;
    font-size: 25px;
   }
   nav ul{
    background: #00853e;
    position: fixed;
    top:0;
    right: -200px;
    width: 200px;
    height: 100vh;
    padding-top: 50px;
    z-index: 2;
    transition: 0.5s;
   }
   nav ul li{
    display: block;
    margin: 25px;
   }
   nav ul .fas{
    position: absolute;
    top: 25px;
    left: 25px;
    cursor: pointer;
   }
   .sub-title{
    font-size: 40px;
   }
   .about-col-1, .about-col-2{
      flex-basis: 100%;
   }
   .about-col-1{
      margin-bottom: 30px;
   }
   .about-col-2{
       font-size: 14px;
   }
   .tab-links{
      font-size: 16px;
      margin-right: 20px;
   }
   .contact-left, .contact-right{
        flex-basis: 100%;
   }
   .copyright{
        font-size: 14px;
   }

}
#msg{
    color: #61b752;
    margin-top: -40px;
    display: block;
}
/* Experience Link Styles */
.experience-link {
    color: #fff;
    text-decoration: none;
    display: inline-block;
    transition: background 0.5s, transform 0.5s;
}

.experience-link:hover {
    transform: translateY(-3px);

    color: #7ef8b9;
}

.experience-link:active {
    transform: translateY(10px);
    filter: brightness(1.05);
}

/* Modal Styles */
/* Modal Styles */
.modal {
    display: none;
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: hidden; /* Ensure no scrollbars */
    background-color: rgba(0, 0, 0, 0.8); /* Semi-transparent background */
}

/* Modal Content */
.modal-content {
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
    box-sizing: border-box; /* Ensure padding does not affect sizing */
}

/* Close Button */
.close-btn {
    color: #fff;
    font-size: 2rem; /* Larger close button */
    font-weight: bold;
    cursor: pointer;
    position: absolute;
    top: 10px;
    right: 10px;
    z-index: 1001; /* Ensure the close button is on top */
}

/* Ensure iframe fills modal content */
#pdf-viewer {
    width: 100%;
    height: 100%;
    border: none;
}

/* Media Queries for Mobile Devices */

/* For devices with a maximum width of 768px */
@media (max-width: 768px) {
    .header-text {
        margin-top: 5%;
        font-size: 1.5rem;
    }

    .header-text h1 {
        font-size: 2.5rem;
    }

    nav {
        flex-direction: column;
    }

    .logo {
        width: 100%;
        text-align: center;
    }

    nav ul {
        position: fixed;
        top: 0;
        right: 0;
        width:200px;
        height:100vh;
        background: #00853e;
        padding-top: 50px;
        padding: 20px;
        z-index:2;
    }

    nav ul li strong{
        color:#fff;
    }

    nav ul li {
        display:block;
        margin: 25px;
    }

    nav ul .fas{
        position:absolute;
        top: 25px;
        left:25px;
        cursor:pointer;
    }

    nav ul.show {
        display: flex;
    }

    .about-card {
        width: 100%;
        margin: 0;
        padding: 10px;
    }

    .tab-titles {
        flex-direction: column;
        margin: 20px 0;
    }

    .tab-links {
        font-size: 1rem;
        margin: 5px 0;
    }

    .btn, .btn2 {
        padding: 12px 24px;
        font-size: 1rem;
    }

    .copyright {
        font-size: 0.75rem;
    }

    /* Adjust card styles for mobile */
    .card-cont {
        width: 100%;
        margin: 10px 0;
    }

    .card {
        height: 100vh; /* Adjust height for smaller screens */
    }
}

/* For devices with a maximum width of 600px */
@media (max-width: 600px) {
    .header-text {
        margin-top: 10%;
        font-size: 1rem;
    }

    .header-text h1 {
        font-size: 1.875rem;
    }

    nav ul {
        display: block;
    }

    nav .fas {
        display: block;
    }

    nav ul li a {
        font-size: 1rem;
    }

    .about-card {
        padding: 5px;
    }

    .tab-titles {
        flex-direction: column;
        margin: 10px 0;
    }

    .tab-links {
        font-size: 0.875rem;
    }


    .btn, .btn2 {
        padding: 10px 20px;
        font-size: 0.875rem;
    }

    .copyright {
        font-size: 0.65rem;
    }

    /* Adjust card styles for mobile */
    .card-cont {
        width: 100%;
        height: 100vh;
        margin: 5px 0;
    }

    .card {
        height: auto; /* Adjust height for smaller screens */
    }
}

